<div class="edit-recipe" data-controller="recipes--update">
  <div class="container py-4 py-sm-5">
    <div class="col-12 col-md-9 col-lg-6 py-3 px-3 px-xxl-0">
      <%= link_to recipe_path(@recipe), class: "return fw-semibold" do %>
        <%= image_tag "arrow-left.svg", class: "icon d-block", alt: "return icon" %>
        Back to Feed
      <% end %>

      <h2 class="text-primary py-4 py-sm-5 d-none d-sm-block">Edit Steamed Salmon Recipe</h2>
      
      <div class="py-4 py-sm-0">
        <%= render "form", form_path: recipe_path, cancel_path: recipe_path(@recipe), recipe: @recipe %>
      </div>
    </div>
  </div>
</div>