<div class="edit-recipe">
  <div class="container py-4 py-sm-5">
    <div class="col-12 col-sm-6 py-3 px-3 px-xxl-0">
      <%= link_to recipes_path, class: "return fw-semibold" do %>
        <%= image_tag "arrow-left.svg", class: "icon d-block", alt: "return icon" %>
        Back to Feed
      <% end %>

      <h2 class="text-primary py-4 py-sm-5 d-none d-sm-block">Edit Steamed Salmon Recipe</h2>
      
      <div class="py-4 py-sm-0">
        <%= render "form", form_path: recipe_path, recipe: @recipe %>
      </div>
    </div>
  </div>
</div>