.form-control,
.input-group-text {
  background-color: #EFEFEF !important;
}

.form-label,
.is-invalid {
  font-size: 12px;
  line-height: 15px;
}

.is-invalid {
  color: #FF9393;
}

.password {
  display: flex;
  position: relative;

  .icon {
    position: absolute;
    top: 45%;
    right: 0;
    transform: translate(-25%, -50%);
    border: none;
  }
}

.upload-file {
  position: relative;
  display: flex;
  padding: 4px;
  background-color: #EFEFEF;
  border: 1px solid rgba(#000000, 0.1);

  .file-name {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 17.5px;
    flex-grow: 1;
    color: #000000;
    padding: 0 8px;
  }

  input[type=file] {
    position: absolute;
    top: -2px;
    right: 0;
    opacity: 0;
  }
}