.sign-up {
  background: linear-gradient(to right, #FFFFFF 35%, rgba(255,255,255,0)), url("sign_up.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}