<dialog id="turbo-confirm">
  <form method="dialog">
    <div class="title text-primary mb-4">
      <span class="delete">Delete Recipe?</span>
      <span class="delete-confirmation d-none">Deleted</span>
      <span class="cancel d-none">Cancel</span>
      <span class="save-success d-none">Save Success</span>
    </div>
    <div class="content mb-auto">
      <span class="delete">
        Are you sure you want to <span class="text-primary">DELETE</span> the recipe for <span class="recipe-name"></span>?
        <br><br>
        There is no turning back.
      </span>
      <span class="delete-confirmation d-none">
        The recipe for <span class="recipe-name"></span> has been deleted.
      </span>
      <span class="cancel d-none">
        Are you sure you want to cancel editing this recipe? Your progress will not be saved.
      </span>
      <span class="save-success d-none">
        The details of <span class="recipe-name"></span> Recipe has been saved.
      </span>
    </div>
    <div class="footer pb-2">
      <span class="yes-or-no-btn d-flex">
        <%= button_tag "No", type: :button, class: "no-btn btn rounded-pill bg-transparent border-0 #{transparent_button}" %>
        <%= button_tag "Yes", type: :button, class: "yes-btn btn btn-primary rounded-pill" %>
      </span>
      <span class="ok-btn d-none">
        <%= button_tag "Ok", type: :button, class: "btn btn-primary rounded-pill" %>
      </span>
    </div>
  </form>
</dialog>