<dialog id="turbo-confirm">
  <form method="dialog p-4">
    <div class="title text-primary mb-4">
      <span class="delete">Delete Recipe?</span>
      <span class="delete-confirmation d-none">Deleted</span>
      <span class="cancel d-none">Cancel</span>
      <span class="save-success d-none">Save Success</span>
    </div>
    <div class="content">
      <span class="delete">
        Are you sure you want to <span class="text-primary">DELETE</span> the recipe for Steamed Salmon?
        <br><br>
        There is no turning back.
      </span>
      <span class="delete-confirmation d-none">
        The recipe for Steamed Salmon has been deleted.
      </span>
      <span class="cancel d-none">
        Are you sure you want to cancel editing this recipe? Your progress will not be saved.
      </span>
      <span class="save-success d-none">
        The details of Steamed Salmon Recipe has been saved.
      </span>
    </div>
    <div class="footer pt-5">
      <span class="delete cancel d-flex">
        <%= link_to "No", "#", class: "btn btn-light rounded-pill bg-transparent border-0" %>
        <%= link_to "Yes", "#", class: "btn btn-primary rounded-pill" %>
      </span>
      <span class="delete-confirmation save-success d-none">
        <%= link_to "Ok", "#", class: "btn btn-primary rounded-pill" %>
      </span>
    </div>
  </form>
</dialog>