@font-face {
  font-family: "Lexend";
  src: url("Lexend.ttf") format("truetype");
}

@font-face {
  font-family: "PaytoneOne";
  src: url("PaytoneOne.ttf") format("truetype");
}

$primary: #CB4036;
$secondary: #FFC327;
$dark: #1E1E1E;
$white: #FFFFFF;
$font-family-sans-serif: Lexend;
$grid-gutter-width: 1.3rem;

$container-max-widths: (
  xxl: 1360px
);

@import "bootstrap";
@import "actiontext";
@import "custom/*";
@import "custom/recipes/*";