@font-face {
  font-family: "Lexend";
  src: url("Lexend.ttf") format("truetype");
}

$primary: #CB4036;
$secondary: #FFC327;
$font-family-sans-serif: Lexend;
$grid-gutter-width: 1.3rem;

$container-max-widths: (
  xxl: 1360px
);

.form-control,
.input-group-text {
  background-color: #EFEFEF !important;
}

@import "bootstrap";
@import "custom/sign_in";